.home {
  .main-section {
    height: 50vh;
    @include flex(flex, column);
    // display: flex;
    justify-content: center;
    // align-items: center;
    background-color: cornflowerblue;
    p:first-child {
      @include border(3px solid green, 5px);
    }
    p:last-child {
      @include border(2px solid coral, 3px);
    }
  }
  .secondary-section {
    .btn {
      background-color: crimson;
      border-radius: 5px;
      height: 45px;
      &:hover {
        @include color(white, orange);
      }
    }
  }
}
