<section class="about">
  <article class="author">
    <figure class="author__image">
      <img
        class="author__image--img"
        src="./assets/images/autor.jpg"
        alt="about the author"
      />
    </figure>
    <h2 class="author__name">Vincent Benedetto</h2>
    <p>
      Yo-ho-ho jib chase guns spike lanyard. Draught gangway long boat
      handsomely topsail.
    </p>
  </article>
  <nav class="menu">
    <ul class="menu__tags">
      <li class="menu__tags--item">
        <a class="menu__link" href="#">dinosaurs</a>
      </li>
      <li class="menu__tags--item">
        <a class="menu__link" href="#">fine motor</a>
      </li>
      <li class="menu__tags--item">
        <a class="menu__link" href="#">messy play</a>
      </li>
      <li class="menu__tags--item">
        <a class="menu__link" href="#">sensorial</a>
      </li>
      <li class="menu__tags--item"><a class="menu__link" href="#">space</a></li>
    </ul>
    <ul class="menu__categories">
      <li>
        <a class="menu__link" href="#">Crafts</a>
      </li>
      <li>
        <a class="menu__link" href="#">Experiments</a>
      </li>
      <li>
        <a class="menu__link" href="#">Lego</a>
      </li>
      <li>
        <a class="menu__link" href="#">Montessori</a>
      </li>
      <li>
        <a class="menu__link" href="#">Travel</a>
      </li>
    </ul>
  </nav>
</section>
