<section class="feed">
  <include
    src="./blogpost.html"
    postTitle="Haul wind dance the hempen jig blow the man down"
    postText="Jib pillage ho stern topmast sloop. Jury mast American Main piracy dead
  men tell no tales run a rig snow. Tackle lass case shot trysail overhaul
  keel. Sutler snow doubloon list Yellow Jack transom."
  ></include>
  <include
    src="./blogpost.html"
    postTitle="Provost bilged on her anchor fathom gabion reef"
    postText="Sail ho piracy haul wind red ensign hardtack cable. Swab spirits Barbary Coast strike colors rope's end bowsprit. Driver black spot chandler long clothes bucko cog. Sloop heave down transom strike colors gunwalls barque."
  ></include>
  <include
    src="./blogpost.html"
    postTitle="Reef sails execution dock quarterdeck take a caulk"
    postText="Measured fer yer chains coffer scallywag marooned chandler splice the main
    brace. Sail ho spanker dance the hempen jig bilge grapple handsomely.
    Coffer keel swab avast walk the plank chase guns. Barque barkadeer clap of
    thunder scuttle Barbary Coast wench."
  ></include>
</section>
